.container{
    margin-top: 50px;
}
.Button{
    padding: 0px 10px;
    background-color: brown;
    border-radius: 10px;
}
.ClientServiceInputArea form{
   padding-left: 30px;
   padding-top: 10px;
}
.ClientServiceInputArea button{
    margin-top: 30px;
    margin-right: 30px;
}
.AdminName{
    margin-top: -30px;
}

form{
    margin-top: 70px;
}
#inputTextAreaSize{
    width: 400px;
    height: 120px;
}
#inputTextSize{
    width: 400px;  
}

form input[type="text"]{
    width: 500px;
}

form input[type="file"]{
    width: 240px;
    margin-right: 10px;
}
.tableArea{
    margin-top: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 120%;
    border-spacing: 35px;
  }
  table th{
     background-color: #e08f8f;
  }

  td, th { 
    text-align: left;
  }